In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,number_people,date,timestamp,day_of_week,is_weekend,is_holiday,temperature,is_start_of_semester,is_during_semester,month,hour
0,37,2015-08-14 17:00:11-07:00,61211,4,0,0,71.76,0,0,8,17
1,45,2015-08-14 17:20:14-07:00,62414,4,0,0,71.76,0,0,8,17
2,40,2015-08-14 17:30:15-07:00,63015,4,0,0,71.76,0,0,8,17
3,44,2015-08-14 17:40:16-07:00,63616,4,0,0,71.76,0,0,8,17
4,45,2015-08-14 17:50:17-07:00,64217,4,0,0,71.76,0,0,8,17

## EDA

In [4]:
df['number_people'].unique()

array([ 37,  45,  40,  44,  46,  43,  53,  54,  39,  38,  41,  36,  42,
        35,  48,  49,  33,  22,   2,   1,   0,   3,   6,  15,  18,  21,
        26,  23,  28,  30,  32,  29,  34,  27,  31,  25,  24,  12,  17,
         4,  11,  16,  20,  19,  14,   9,  13,  50,  47,  55,  68,  58,
        65,  63,  74,  69,  60,  73,  52,  66,  64,   7,  10,  61,  51,
        62,  56,  71,  72,  67,   5,  70,  57,  59,   8,  75, 134, 139,
       119, 145, 105,  93, 115, 108, 111, 102,  98,  89,  78,  83,  84,
        77,  80,  81,  87,  88,  92,  76,  82,  79, 104,  96,  91,  94,
        86,  90,  85,  95, 101, 100, 106, 103, 110, 117, 114, 118,  97,
        99, 109, 107, 124, 112, 113, 116, 123, 121, 125, 138], dtype=int64)

In [5]:
df.isnull().sum()

number_people           0
date                    0
timestamp               0
day_of_week             0
is_weekend              0
is_holiday              0
temperature             0
is_start_of_semester    0
is_during_semester      0
month                   0
hour                    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62184 entries, 0 to 62183
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   number_people         62184 non-null  int64
 1   date                  62184 non-null  object
 2   timestamp             62184 non-null  int64
 3   day_of_week           62184 non-null  int64
 4   is_weekend            62184 non-null  int64
 5   is_holiday            62184 non-null  int64
 6   temperature           62184 non-null  float64
 7   is_start_of_semester  62184 non-null  int64
 8   is_during_semester    62184 non-null  int64
 9   month                 62184 non-null  int64
 10  hour                  62184 non-null  int64
dtypes: float64(1), int64(9), object(1)
memory usage: 5.2+ MB

In [7]:
df.drop(['date','timestamp'],axis=1,inplace=True)

In [8]:
df.head()

,number_people,day_of_week,is_weekend,is_holiday,temperature,is_start_of_semester,is_during_semester,month,hour
0,37,4,0,0,71.76,0,0,8,17
1,45,4,0,0,71.76,0,0,8,17
2,40,4,0,0,71.76,0,0,8,17
3,44,4,0,0,71.76,0,0,8,17
4,45,4,0,0,71.76,0,0,8,17

## Splitting data

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x= df.drop(['number_people'],axis=1)
y=df['number_people']
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=42)

In [11]:
x_train.head()

,day_of_week,is_weekend,is_holiday,temperature,is_start_of_semester,is_during_semester,month,hour
35235,2,0,0,61.39,0,0,7,21
21476,0,0,0,55.51,0,1,3,22
24103,1,0,0,69.45,0,1,4,14
23300,5,1,0,58.78,0,1,4,14
43598,6,1,0,56.70,0,1,9,8

In [12]:
y_train.head()

35235    39
21476    30
24103    34
23300    41
43598    22
Name: number_people, dtype: int64

## Applying Random Forest Regressor

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

In [20]:
rf = RandomForestRegressor()
rf.fit(x_train , y_train)
pred = rf.predict(x_test)
print(r2_score(pred,y_test))

0.9208594673588364

## Applying Random Forest Regressor using GridSearchCV

In [14]:
params = {
    'criterion' : ['squared_error','poisson'],
    'ccp_alpha' :[0.0001,0.001,0.01,0.1,]
}

In [15]:
rf = RandomForestRegressor()
gs_rf = GridSearchCV(rf,param_grid=params,cv=5,scoring='r2',verbose=2)

In [16]:
gs_rf.fit(x_train , y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
[CV] END ..........ccp_alpha=0.0001, criterion=squared_error; total time=  14.7s
[CV] END ..........ccp_alpha=0.0001, criterion=squared_error; total time=  14.5s
[CV] END ..........ccp_alpha=0.0001, criterion=squared_error; total time=  14.5s
[CV] END ..........ccp_alpha=0.0001, criterion=squared_error; total time=  14.5s
[CV] END ..........ccp_alpha=0.0001, criterion=squared_error; total time=  14.6s
[CV] END ................ccp_alpha=0.0001, criterion=poisson; total time=  25.0s
[CV] END ................ccp_alpha=0.0001, criterion=poisson; total time=  25.6s
[CV] END ................ccp_alpha=0.0001, criterion=poisson; total time=  26.6s
[CV] END ................ccp_alpha=0.0001, criterion=poisson; total time=  25.2s
[CV] END ................ccp_alpha=0.0001, criterion=poisson; total time=  25.3s
[CV] END ...........ccp_alpha=0.001, criterion=squared_error; total time=  21.8s
[CV] END ...........ccp_alpha=0.001, criterion=squared_error; total time=  23.5s
[CV] END ...........ccp_alpha=0.001, criterion=squared_error; total time=  25.0s
[CV] END ...........ccp_alpha=0.001, criterion=squared_error; total time=  23.1s
[CV] END ...........ccp_alpha=0.001, criterion=squared_error; total time=  24.2s
[CV] END .................ccp_alpha=0.001, criterion=poisson; total time=  33.0s
[CV] END .................ccp_alpha=0.001, criterion=poisson; total time=  32.7s
[CV] END .................ccp_alpha=0.001, criterion=poisson; total time=  29.7s
[CV] END .................ccp_alpha=0.001, criterion=poisson; total time=  28.9s
[CV] END .................ccp_alpha=0.001, criterion=poisson; total time=  29.1s
[CV] END ............ccp_alpha=0.01, criterion=squared_error; total time=  26.0s
[CV] END ............ccp_alpha=0.01, criterion=squared_error; total time=  26.5s
[CV] END ............ccp_alpha=0.01, criterion=squared_error; total time=  26.6s
[CV] END ............ccp_alpha=0.01, criterion=squared_error; total time=  26.2s
[CV] END ............ccp_alpha=0.01, criterion=squared_error; total time=  26.5s
[CV] END ..................ccp_alpha=0.01, criterion=poisson; total time=  31.2s
[CV] END ..................ccp_alpha=0.01, criterion=poisson; total time=  32.2s
[CV] END ..................ccp_alpha=0.01, criterion=poisson; total time=  30.5s
[CV] END ..................ccp_alpha=0.01, criterion=poisson; total time=  30.7s
[CV] END ..................ccp_alpha=0.01, criterion=poisson; total time=  29.2s
[CV] END .............ccp_alpha=0.1, criterion=squared_error; total time=  27.7s
[CV] END .............ccp_alpha=0.1, criterion=squared_error; total time=  27.7s
[CV] END .............ccp_alpha=0.1, criterion=squared_error; total time=  28.4s
[CV] END .............ccp_alpha=0.1, criterion=squared_error; total time=  27.9s
[CV] END .............ccp_alpha=0.1, criterion=squared_error; total time=  28.1s
[CV] END ...................ccp_alpha=0.1, criterion=poisson; total time=  34.7s
[CV] END ...................ccp_alpha=0.1, criterion=poisson; total time=  31.3s
[CV] END ...................ccp_alpha=0.1, criterion=poisson; total time=  30.6s
[CV] END ...................ccp_alpha=0.1, criterion=poisson; total time=  31.0s
[CV] END ...................ccp_alpha=0.1, criterion=poisson; total time=  30.8s

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'ccp_alpha': [0.0001, 0.001, 0.01, 0.1],
                         'criterion': ['squared_error', 'poisson']},
             scoring='r2', verbose=2)

In [17]:
print(gs_rf.best_score_)

0.9151002214833796

In [18]:
print(gs_rf.best_params_)

{'ccp_alpha': 0.001, 'criterion': 'squared_error'}